* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffe4b5;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.container > div {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Segoe Print;
  font-size: 24px;
}

#veronica {
  width: 246px;
  height: 380px;
  background-image: url(veronica.png);
  background-size: cover;
}

#voto {
  display: none;
  width: 50px;
  height: 50px;
  font-size: 36px;
  font-style: italic;
}

.btn {
  display: inline-block;
  border: 2px solid #000;
  margin-top: 10px;
  padding: 5px 10px;
  color: #000;
  transition: all 300ms ease;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
  color: white;
}

#text1,
#text2 {
  font-family: Segoe Print;
  font-size: 24px;
  border: none;
  outline: none;
}

#text1 {
  max-width: 120px;
}

#text2 {
  max-width: 70px;
}

@media only screen and (max-width: 600px) {
  .container > div {
    flex-direction: column;
    align-self: flex-start;
  }
}

#msg {
  display: none;
  position: fixed;
  width: 100%;
  background: #fff;
  border-bottom: 2px solid #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
  padding: 3px;
}

.btn-github {
  display: block;
  position: absolute;
  top: -32px;
  right: 20px;
  background: url(github-icon.png) no-repeat;
  width: 32px;
  height: 32px;
  -webkit-animation: slide-bottom 1s ease-in 0.5s both;
  animation: slide-bottom 1s ease-in 0.5s both;
}

@-webkit-keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(52px);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(52px);
  }
}